# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Data artifacts
data/playwright_profile/
data/raw/*.png
data/raw/*.html
data/processed/*.pkl

# Notebooks output
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
